//Roboto
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-regular.ttf') format('truetype');
}

/* Roboto-500-Medium */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v47-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-500.ttf') format('truetype');
}

/* Roboto-600-Semibold */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2'),
    url('../fonts/roboto-v47-latin-600.ttf') format('truetype');
}

/* Roboto-700-Bold */
// @font-face {
//   font-display: swap;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../fonts/roboto-v47-latin-700.woff2') format('woff2'),
//     url('../fonts/roboto-v47-latin-700.ttf') format('truetype');
// }

/* Roboto-900-Black */
// @font-face {
//   font-display: swap;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 900;
//   src: url('../fonts/roboto-v47-latin-900.woff2') format('woff2'),
//     url('../fonts/roboto-v47-latin-900.ttf') format('truetype');
// }

//Inter
/* inter-regular */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v18-latin-regular.ttf') format('truetype');
}

// /* inter-500-Medium */
// @font-face {
//   font-display: swap;
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   src: url('../fonts/inter-v18-latin-500.woff2') format('woff2'),
//     url('../fonts/inter-v18-latin-500.ttf') format('truetype');
// }

// /* inter-600-Semibold */
// @font-face {
//   font-display: swap;
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 600;
//   src: url('../fonts/inter-v18-latin-600.woff2') format('woff2'),
//     url('../fonts/inter-v18-latin-600.ttf') format('truetype');
// }

/* Inter-700-Bold */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v18-latin-700.ttf') format('truetype');
}

/* Inter-800-Extrabold */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v18-latin-800.woff2') format('woff2'),
    url('../fonts/inter-v18-latin-800.ttf') format('truetype');
}

// /* Inter-900-Black */
// @font-face {
//   font-display: swap;
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 900;
//   src: url('../fonts/inter-v18-latin-900.woff2') format('woff2'),
//     url('../fonts/inter-v18-latin-900.ttf') format('truetype');
// }
